@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

header {
    display: grid;
    background-color: #8C3D01;
    grid-template-columns: 1fr 3fr;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    place-content: center;
}

header h1 {
    color: #FACE6D;
    
}

header a {
  text-decoration: none;
  color: inherit;
}

a:hover {
    text-decoration: underline;
}


#logo {
    grid-column: 1/2;
    width: 100%;
}

#current-page-link {
    grid-column: 1/2;
}

#second-page-link {
    grid-column: 2/3;
}

#third-page-link {
    grid-column: 3/4;
}